.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  /* position: fixed; */
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 0.5rem 0;
}

.login {
  color: #f0626f;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.login svg {
  margin-left: 5px;
}

.navimg {
  width: 64px;
  height: 61px;
}
